@page
@model ListRolesModel
<li>
    <div>
        @if (Model.Output.Any())
        {
            foreach (var role in Model.Output)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Role: @role.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@role.Name</h5>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Roles" asp-action="EditRole"asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                        <form asp-controller="Roles" asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                            <span id="deleteSpan_@role.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a>
                            </span>

                            <span id="confirmDeleteSpan_@role.Id" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                            </span>

                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No roles created yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a role
                    </h5>
                    <a class="btn btn-primary" style="width:auto">
                        Create Role
                    </a>
                </div>
            </div>
        }
    </div>
</li>
